<ion-header>
  <ion-toolbar>
    <ion-title>Kaleidoscope-Under dev</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label>Mandala View</ion-label>
      <ion-toggle (click)="mandala=!mandala" name="mandala"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Full screen View</ion-label>
      <ion-toggle (click)="fullscreen=!fullscreen" name="fullscreen"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Auto animation</ion-label>
      <ion-toggle (click)="animate=!animate" name="animate"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Speed</ion-label>
      <ion-range name="speed" min="1" max="100" min="1" max="100" pin="true" [(ngModel)]="speed">
        <ion-icon size="small" slot="start" name="sunny"></ion-icon>
        <ion-icon slot="end" name="sunny"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label>Image</ion-label>
      <ion-button (click)="save()" color="primary">
        <ion-icon size="small" slot="start" name="sunny"></ion-icon> Select
        Image
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Segments</ion-label>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="4" class="ion-align-self-center">
            <ion-button color="medium" fill="clear" (click)="increaseSegment()">
              <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col size="2" class="ion-align-self-center">
            {{ "1" }}
          </ion-col>

          <ion-col size="2" class="ion-align-self-center">
            <ion-button color="medium" fill="clear" (click)="decreaseSegment()">
              <ion-icon name="add-circle" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-button (click)="save()" expand="full" color="primary">Submit</ion-button>
  </form>
</ion-content>